@import url('https://fonts.googleapis.com/css2?family=Alata&family=Cinzel+Decorative:wght@400;700&family=Josefin+Slab:wght@400;500;600;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::selection {
    background-color: var(--background-color-brown);
    color: var(--text-color-white);
}

:root {
    --text-color-white: hsl(0, 0%, 100%);
    --text-color-black: hsl(0, 0%, 0%);
    --text-color-brown: hsl(33, 53%, 17%);

    --font-alata: 'Alata', sans-serif;
    --font-Josefin-slab: 'Josefin Slab', serif;;
    --font-Cinzel: 'Cinzel Decorative', cursive;

    --background-color-darkgrey: rgb(40, 40, 40);
    --background-color-white: hsl(0, 0%, 100%);
    --background-color-orange: hsl(30, 100%, 50%);
    --background-color-brown: hsl(22, 88%, 16%);
    --background-color-darkbrown: hsl(23, 81%, 6%);

    --transparent-brown: hsl(22 88% 16% / 0.2);
    --transparent-black: hsla(0, 0%, 0%, 0.3);

    --font-size-max: 4rem;
    --font-size-mid: 2rem;
    --font-size-min: 1rem;
    --font-size-extra-small: 15px;

    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
}

body {
    margin: 0;
    padding: 0;
}

.root {
    overflow: hidden;
    height: 100%;
}


/************ HEADER Styling ************/
#header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    padding: 0 5rem;
    transition: background-color 200ms;
}
#header.active {
    background-color: var(--background-color-darkgrey);
    box-shadow: 0 20px 20px #0005;
}

#header .nav-close {
    display: none;
    visibility: hidden;
}

#header #navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 6%;
}

a {
    display: inline-block;
    text-decoration: none;
    color: var(--text-color-black);
    width: max-content;
}

#header #navbar ul li {
    display: inline-block;
    margin: 10px 10px 0;
}

#header #navbar ul li a,
#header .social-icon a {
    padding: 5px 10px;
    color: var(--text-color-white);
    text-transform: uppercase;
    font-size:var(--font-size-extra-small);
    font-family: var(--font-Cinzel);
    transition: color 300ms;
}

#header #navbar ul li a:hover,
#header .social-icon a:hover {
    color: var(--background-color-orange);
}

#header #navbar .social-icon-mobile {
    display: none;
}


#header .social-icon {
    display: flex;
    gap: 10px;
}
#header .social-icon a {
    font-size: var(--font-size-mid);
    margin: 10px 0 0;
}

#header .hamburger {
    display: none;
    visibility: hidden;
}

/********** HEADER Media query 1100px **********/
@media (max-width: 1100px) {

    #header #navbar {
        margin-left: 0;
    }

    #header #navbar ul {
        width: fit-content;
    }
    #header #navbar ul li {
        margin: 0;
    }
}

/********** HEADER Media query 980px **********/
@media (max-width: 980px) {

    #header .hamburger {
        display: block;
        visibility: visible;
        font-size: var(--font-size-mid);
        color: var(--text-color-white);
        margin-top: 20px;
    }

    #header #navbar {
        position: fixed;
        top: -150%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--background-color-darkgrey);
        text-align: center;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        gap: 50px;
        transition: top 300ms ease-in-out;
    }
    #header #navbar.nav-active {
        top: 50%;
    }

    #header #navbar ul li {
        display: block;
        margin: auto;
        text-align: center;
        margin: 10px auto;
    }

    #header .nav-close {
        display: block;
        visibility: visible;
        font-size: var(--font-size-mid);
        color: var(--text-color-white);
        position: absolute;
        top: 40px;
        right: 84px;
    }

    #header #navbar .social-icon-mobile {
        display: block;
        font-size: var(--font-size-mid);
        margin-top: 20px;
    }

    #header #navbar .social-icon-mobile a {
        color: var(--text-color-white);
        margin: 0 10px;
    }

    #header .social-icon {
        display: none;
    }
}

/********** HEADER Media query 756px **********/
@media (max-width: 756px) {
    #header {
        padding: 2rem;
    }

    #header .nav-close {
        top: 2.55rem;
        right: 2.22rem;
    }
}

/************ HERO Styling ************/
.hero {
    background-image: url("../assets/images/coffee-craft-hero.png");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hero::before {
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--transparent-black);
    z-index: 1;
}

.hero .hero-content {
    width: 90%;
    margin-top: 15%;
    font-family: var(--font-Cinzel);
    color: var(--text-color-white);
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    z-index: 9;
}

.hero .hero-content h1 {
    font-size: var(--font-size-max);
}

.hero .hero-content p {
    font-size: var(--font-size-min);
    width: 45%;
}

.hero .hero-content a {
    color: var(--text-color-white);
    padding: 8px 20px;
    outline: 1px solid var(--background-color-white);
    position: relative;
    width: max-content;
    z-index: 1;
    overflow: hidden;
    transition: color 500ms ease;
}

.hero .hero-content a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    background-color: var(--background-color-white);
    z-index: -1;
    transition: left 500ms ease;
}

.hero .hero-content a:hover {
    color: var(--text-color-brown);
}

.hero .hero-content a:hover::before {
    left: 0;
}

/********** HERO Media query 756px **********/
@media (max-width: 756px) {

    .hero {
        background-attachment: fixed;
    }

    .hero .hero-content h1 {
        font-size: var(--font-size-mid);
    }

    .hero .hero-content p {
        width: 80%;
    }
}

/*********** ABOUT Styling ***********/
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 8rem 5rem;
}

.about .about-image {
    width: 50%;
    min-width: 250px;
    max-width: 50%;
    background-position: 0 60%;
    height: 90vh;
    background-image: url("../assets/images/about-coffee-craft.jpg");
    background-size: cover;
    position: relative;
}
.about .about-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--transparent-black);
    z-index: 1;
}

.about .about-content {
    width: 50%;
    font-family: var(--font-Cinzel);
    display: grid;
    gap: 40px;
}

.about .about-content h2 {
    background-color: var(--background-color-white);
    font-size: var(--font-size-max);
}

.about .about-content p {
    font-family: var(--font-alata);
    font-size: var(--font-size-min);
}

.about .about-content .know-more-btn {
    padding: 8px 20px;
    border: 1px solid var(--background-color-brown);
    transition: background-color 200ms, color 200ms ease;
}

.about .about-content .know-more-btn:hover{
    background-color: var(--background-color-brown);
    color: var(--text-color-white);
}

/********** ABOUT Media query 756px **********/
@media (max-width: 756px) {

    .about {
        flex-direction: column;
        padding: 3rem 5rem;
        margin-top: 30px;
    }

    .about .about-image {
        width: 100%;
        min-width: 250px;
        max-width: 100%;
        aspect-ratio: 1 / 1;
        background-position: 0 60%;
        background-image: url("../assets/images/about-coffee-craft.jpg");
        background-size: cover;
        position: relative;
    }

    .about .about-content {
        width: 100%;
    }

    .about .about-content h2 {
        font-size: var(--font-size-mid);
    }
}

/********** ABOUT Media query 556px **********/
@media (max-width: 556px) {

    .about {
        padding: 3rem 2rem;
    }

    .about .about-image {
        height: 300px;
        background-position: 0 70%;

    }
}

/************ PRODUCTS Section styling ************/
.products {
    padding: 6rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.products h2 {
    font-size: var(--font-size-max);
    font-family: var(--font-Cinzel);
}

.products .product-container .product-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -4px;
}

.products .product-container .product-content:nth-child(odd) {
    flex-direction: row-reverse;
}

.products .product-container .product-content:first-child {
    margin-top: 5%;
}

.products .product-content .product-image {
    width: 80.25%;
    min-width: 250px;
    margin: 0 auto;
    position: relative;
}
.products .product-content .product-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--transparent-black);
    z-index: 1;
}

.products .product-content .product-image img {
    width: 100%;
    min-width: 250px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    margin: 0 auto;
    margin-right: 0;
}

.product-content .product-description {
    width: 78%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
    padding: 0 50px 0 0;
}

.products .product-content:nth-child(even) .product-description {
    padding: 0 0 0 50px;
}

.product-content .product-description h3 {
    font-family: var(--font-Cinzel);
    font-size: var(--font-size-mid);
}

.product-content .product-description p {
    font-family: var(--font-alata);
    font-size: var(--font-size-min);
    text-align: justify;
}

.product-content .product-description .view-product {
    font-family: var(--font-Cinzel);
    padding: 10px 22px;
    font-weight: var(--font-weight-600);
    border: 1px solid var(--background-color-brown);
    color: var(--text-color-brown);
    width: max-content;
    background-color: transparent;
    cursor: pointer;
    transition: 200ms;
}
.product-content .product-description .view-product:hover {
    background-color: var(--background-color-brown);
    color: var(--text-color-white);
}

/********** ABOUT Media query 756px **********/
@media (max-width: 756px) {

    .products {
        padding: 3rem 5rem;
        gap: 40px;
    }

    .products h2 {
        font-size: var(--font-size-mid);
    }

    .products .product-container .product-content {
        flex-direction: column;
        width: 100%;
    }
    
    .products .product-container .product-content:nth-child(odd) {
        flex-direction: column;
    }

    .products .product-content .product-image {
        width: 100%;
        min-width: 250px;
        margin: 0 auto;
        position: relative;
    }

    .product-content .product-description {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .product-content .product-description {
        padding: 0;
    }

    .products .product-content:nth-child(even) .product-description {
        padding: 0;
    }

    .product-content .product-description h3 {
        font-size: 20px;
        font-weight: bolder;
    }
}

/********** ABOUT Media query 556px **********/
@media (max-width: 556px) {
    .products {
        padding: 3rem 2rem;
    }
}

/************ SERVICES Styling ************/
.services {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 6rem 5rem;
}
.services .services-heading h2 {
    font-family: var(--font-Cinzel);
    font-size: var(--font-size-max);
}

.service-container {
    display: flex;
    justify-content: space-between;
}

.service-container .service-content {
    width: 30%;
    box-shadow: 0 20px 20px var(--transparent-brown);
    text-align: center;
}

.service-container .service-content .service-content-image {
    width: 100%;
    overflow: hidden;
}

.service-container .service-content .service-content-image img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    transition: transform 800ms;
}

.service-container .service-content .service-content-image:hover > img {
    transform: scale(1.1);
}

.service-container .service-content .service-content-description {
    padding: 1.5rem 1.5rem 3rem;
}

.service-container .service-content .service-content-description h3 {
    font-family: var(--font-Cinzel);
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.service-container .service-content .service-content-description p {
    font-family: var(--font-alata);
    font-size: var(--font-size-extra-small);
}

/********** SERVICES Media query 980px **********/
@media (max-width: 980px) {

    .service-container {
        flex-wrap: wrap;
    }
    .service-container .service-content {
        width: 45%;
        margin: auto;
        margin-top: 5%;
    }
}

/********** SERVICES Media query 756px **********/
@media (max-width: 756px) {

    .services {
        padding: 3rem 5rem;
    }

    .services .services-heading h2 {
        font-size: var(--font-size-mid);
    }

    .service-container {
        flex-wrap: nowrap;
        flex-direction: column;
        margin-top: 0;
    }

    .service-container .service-content {
        width: 100%;
        margin: auto;
        margin-top: 10%;
    }
}

/********** SERVICES Media query 556px **********/
@media (max-width: 556px) {

    .services {
        padding: 3rem 2rem;
    }
}

/************ CONTACT Styling ************/
.contact {
    padding: 6rem 5rem;
}

.contact-heading h2 {
    font-family: var(--font-Cinzel);
    font-size: var(--font-size-max);
}

.contact-container {
    width: 100%;    
}

.contact-container {
    margin-top: 5%;
}
.contact-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: 2rem 10rem;
    box-shadow: 0 20px 20px var(--transparent-brown);
}

.contact-container form .contact-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.contact-container form .contact-details input,
.contact-container form .message-container textarea {
    width: 100%;
    padding: .8rem 1rem;
    font-size: 20px;
    background-color: var(--transparent-brown);
    outline: none;
    border: none;
    color: var(--text-color-black);
    font-family: var(--font-Josefin-slab);
    font-size: 24px;
    font-weight: var(--font-weight-700);
}

.contact-container form label {
    font-family: var(--font-Cinzel);
    font-size: 20px;
}

.contact-container form .message-container textarea {
    height: 300px;
    resize: none;
}

.contact-container form button {
    width: max-content;
    margin-left: auto;
    margin-right: 0;
    padding: 1rem 3rem;
    font-size: 20px;
    font-family:var(--font-Josefin-slab);
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    background-color: var(--background-color-darkgrey);
    color: var(--text-color-white);
}

/********** CONTACT Media query 980px **********/
@media (max-width: 980px) {
    .contact-container form .contact-details {
        grid-template-columns: 1fr;
    }

    .contact-container form .contact-details input,
    .contact-container form .message-container textarea {
        padding: .5rem 1rem;
        font-size: var(--font-size-min);
    }

    .contact-container form .message-container textarea {
        height: 200px;
    }

    .contact-container form button {
        margin-left: 0;
    }
}

/********** CONTACT Media query 756px **********/
@media (max-width: 756px) {

    .contact {
        padding: 3rem 5rem;
    }

    .contact-heading h2 {
        font-size: var(--font-size-mid);
    }

    .contact-container form {
        padding: 2rem;
    }
}

/********** CONTACT Media query 556px **********/
@media (max-width: 556px) { 
    .contact {
        padding: 3rem 2rem;
    }
    .contact-container form {
        padding: 0;
        background-color: transparent;
        box-shadow: none;
    }
}

/************ FOOTER Styling ************/
.footer {
    width: 100%;
    height: fit-content;
    position: relative;
    font-family:var(--font-Cinzel);
}
.footer, .footer-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
    gap: 100px;
    flex-wrap: wrap;
    background-color: var(--background-color-darkbrown);
}

.footer-left {
    align-items: flex-start;
    padding: 0;
}

.footer-left h4 {
    font-size: var(--font-size-mid);
    color: var(--text-color-white);
    opacity: .7;
}

.footer-left ul {
    margin-top: 30px;
}
.footer-left ul li {
    display: block;
    margin: 20px auto;
}
.footer-left ul li a {
    font-size: 20px;
    color: var(--text-color-white);
    opacity: .7;
    transition: opacity 200ms;
}
.footer-left ul li a:hover {
    opacity: 1;
}

.footer-right {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-end;
}

.footer-right .news-letter {
    position: relative;
}

.footer-right .news-letter input {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 8px;
}

.footer-right .news-letter input,
.footer-right .news-letter button {
    padding: .5rem 1rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 20px;
}

.footer-right .news-letter button {
    position: absolute;
    right: 0;
    top: 2px;
    cursor: pointer;
    color: var(--background-color-brown);
    background-color: var(--background-color-white);
    border: none;
    outline: none;
    border-left: 4px solid var(--background-color-darkgrey);
    border-top-left-radius: 40px;
}

.footer-right .social-media {
    display: flex;
}

.footer-right .social-media a {
    font-size: 24px;
    margin: auto 10px;
    width: 50px;
    height: 50px;
    border: 1px solid var(--background-color-white);
    color: var(--text-color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    transition: color 300ms;
}
.footer-right .social-media a:hover {
    color: var(--background-color-brown);
}

.footer-right .social-media a::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 100%;
    height: 100%;
    background-color: var(--background-color-white);
    border-radius: 50%;
    z-index: -1;
    transition: transform 300ms;
}
.footer-right .social-media a:hover::after {
    transform: translate(-50%, -50%) scale(1);
}

.copy-right {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--background-color-darkgrey);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color-white);
    font-family:var(--font-Cinzel);
}

/********** FOOTER Media query 980px **********/
@media (max-width: 980px) {
    .footer {
        justify-content: center;
        align-items: center;
    }
}

/********** FOOTER Media query 756px **********/
@media (max-width: 756px) {

    .footer-left, .footer-right {
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    .footer-left h4, 
    .footer-left ul li {
        text-align: center;
    }
}